body {
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(255, 252, 233) ;
}

#imgcontainer {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

#jumboimg {
  height: auto;
  width: 100%;
}

 #navname {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 220%;
  margin-right: 20%;
  
 }

 #navfontsize {
   font-size: 115%;
   font-weight: bold;
 }

 #sectiontitle {
  background: url(../media/leather_banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color:  rgb(255, 252, 233);
  padding: 1%;
  text-align: center;
 }

 #musiclinks {
   margin-left: 25%
 }

 #middlelinks {
 width:188px;
 height: 100%;
 display: inline-block;
 vertical-align: top;
 margin-left: 10%;
 }

 .applemusiccard {
  display:inline-block;
  overflow:hidden;
  background:url(https://tools.applemusic.com/en-us/badge-lrg.svg?kind=artist&bubble=apple_music) no-repeat;
  width:158px;
  height:45px;
  vertical-align: top;
  text-align: center;
  margin-left: 10px;
 }
 

 .googleplaycard {
  display:inline-block;
  width: 180px;
  height:65px;
  vertical-align: top;
 }

.spacer {
  margin-top: 5%;
}

.placeholderclass {
  text-align: center; 
  font-size: 200%;
  margin: 0px 0px 0px 0px;
 
}
#socialicon{
  font-size: 2em;
}

